aliyun-python-sdk-core==2.13.9
aliyun-python-sdk-dts==2.0.16
certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
MarkupSafe==1.1.1
prometheus-client==0.7.1
prometheus-http-client==1.0.0
requests==2.22.0
urllib3==1.25.8
Werkzeug==0.15.6
